{
  "root": true,
  "env": {
    "node": true,
    "es6": true
  },
  "extends": [
    "vuetify"
  ],
  "plugins": ["prettier"],
  "rules": {
  },
  "parserOptions": {
    "parser": "babel-eslint"
  }
}